
.container {
    display: flex;
    flex-direction: row;
}

.left-side {
    width: 60%;
}

.name {
    font-size: 5rem;
}

.bio {
    font-size: 2rem;
    color: #969696;
}

.right-side {
    width: 40%;
    text-align: right;
}

.right-side .avatar {
    width: 200px;
    border-radius: 2rem;
}